:root {
    --temple-red-dark: #ff6a00;
    --bs-primary: #ff6a00;
    --bs-primary-rgb: 204,68,0;
    --bs-primary-dark: #ff6a00;
    --bs-primary-dark-rgb: rgba(0, 0, 0, 0.125);
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ff6a00;
    --bs-btn-border-color: #ff6a00;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #721426;
    --bs-btn-hover-border-color: #721426;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #721426;
    --bs-btn-active-border-color: #721426;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #721426;
    --bs-btn-disabled-border-color: #721426;
}

.navbar {
    --bs-navbar-active-color: #ff6a00;
    --bs-navbar-padding-x: 0.1rem;
    --bs-navbar-padding-y: 0;
    --bs-navbar-brand-color: white;
    --bs-navbar-brand-hover-color: white;
}


.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 1rem;
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: white;

}

.navbar-nav {
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: white;
}

/* .btn-primary {
    background-color: var(--temple-red) !important;
    border-color: var(--temple-red) !important;
} */

/* .btn-primary:hover {
    background-color: var(--temple-red-dark) !important;
    border-color: var(--temple-red-dark) !important;
} */